body{background:#fff;color:#000;font-family:Helvetica,Georgia,"Courier New",sans-serif,"ו";font-size:63%;}
pre, p{font-size:1.2em;}
body{
	scrollbar-face-color: #04A7D7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-darkshadow-color: #04A7D7;
	scrollbar-3dlight-color: #04A7D7;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #9DCEFF;
}
#login_box{width:100%;height:100%;text-align:center;}
	.login{width:240px;height:150px;margin:16% auto 0;border:1px solid #04A7D7;}
	.login .title{font-size:1.3em;font-weight:bold;color:#FFF;border:1px solid #FFF;height:25px;line-height:25px;background:url(/app/css/img_root/bg_title.gif) repeat-x;}
	.login form{padding:10px 0 5px;font-size:1.25em;}
	.login form label{display:block;height:28px;}
	.login form label input{height:18px;border:1px solid #002D96;background:#ECF5FF;font-size:1.4em;}
	.login form p{padding:5px 0;}
	.login form p input{margin:0 5px;}

	#username, #password{width:128px;}
	#username{text-transform:lowercase;ime-mode:disabled;}
	#vcode{width:72px;text-transform:uppercase;ime-mode:disabled;}
	.btxp{
		background:#eeeeee;border: #2C59AA 1px solid;
		height:20px;
		cursor: pointer !important;cursor: hand;
		FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#C3DAF5);
	}

#left_iframe, #main_iframe{float:left;display:inline;height:100%;}
	#left_iframe iframe, #main_iframe iframe{height:100%;visibility:inherit;width:100%;z-index:1;overflow:auto;}
#left_iframe{width:16%;}
#main_iframe{width:84%;}

#left{width:96%;margin:0 2%;font-size:1.2em;}
	#left a.logo{padding-top:10px;display:block;width:100%;height:60px;text-align:center;background:url(img_root/logo.gif) center no-repeat;}
		.box{border:1px solid #04A7D7;border-bottom:0;}
		.box .title{color:#FFF;border:1px solid #FFF;height:25px;line-height:25px;background:url(img_root/bg_title.gif) repeat-x;cursor:pointer !important;cursor:hand;}
		.box .title h3{font-size:1.25em;color:#FFF;background:url(img_root/ico_title.gif) 10px 5px no-repeat;padding-left:30px;}
		.box ul{width:100%;overflow:auto;}
		.box ul li{float:left;display:inline;width:50%;background:url(img_root/ico_left_li.gif) 8px 7px no-repeat;height:24px;line-height:24px;}
		.box ul li a{padding-left:20px;}
		.info{border-bottom:1px solid #04A7D7;}
		.info span{display:block;padding:3px 0;text-align:center;}
		.info ul li{width:90%;padding-left:10%;}
		.info ul li a{padding-left:0;}
/*	form input text width */
textarea, input.t_text{border:1px solid #787878;}
input.t_text{width:300px;}

/*	admin category ul */
ul.cat{margin: 5px 0 5px 30px;text-align:left;}
ul.cat li{color:#666666;}
ul.cat li a{font-size:1.2em;color:#000;}
ul.cat li span.admin{color:#484848;}
ul.cat li span.admin a{font-size:1em;color:#666666;}

.no_pass{padding-right:20px;background:url(img_root/no_pass.gif) right 1px no-repeat;}
